@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin:0;
    background-color: #212125;
}

.display-container{
    display: flex;
    gap:0.5rem;
    flex-wrap: wrap;
    margin-top:1rem;
        
}

@media only screen and (max-width: 450px){
    .display-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .display-container .MuiPaper-root{
        width:70%;
    }
}